.contato {
    text-align: center;
    background-color: var(--background-footer)
}

.contato__titulo {
    font-family: 600;
    font-size: 36px;
    margin-bottom: 1em;
}

.contato__texto {
    font-size: 20px;
    color: var(--cinza-nav);
    margin-bottom: 1em;
}

.contato__caixa {
    display: flex;
    justify-content: center;
    gap: .5em;
    margin-bottom: 3em;
}

.contato__botao {
    background-color: var(--vermelho-botao);
    border: 1px solid var(--borda-botao);
    color: var(--branco);
    padding: .7em 1.2em;
    border-radius: 8px;
}

.contato__email {
    width: 30%; 
    border-radius: 8px;
    border: 1px solid var(--borda-fomulario);
    padding-left: 10px;
}