@import url("css/cabecalho.css");
@import url("css/sobreNos.css");
@import url("css/meritos.css");
@import url("css/vagas.css");
@import url("css/design.css");
@import url("css/avaliacao.css");
@import url("css/rodape.css");


:root {
    --cinza-logo: #3A404E;
    --cinza-nav: #667085;
    --branco: #ffffff;
    --vermelho-botao: #8E2424;
    --borda-botao: #8E2424;
    --texto-efeito: rgba(142, 36, 36, 0.05);
    --cor-borda: #EAECF0;
    --cor-avaliacao: #C3191908;
    --borda-fomulario: #D0D5DD;
    --background-footer: #F9FAFB;
    --texto-footer: #98A2B3;
    --font-principal: 'Inter', sans-serif;
}

body {
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}