.cabecario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em 0em;
}

.cabecario__logo {
    display: flex;
    align-items: center;
    gap: .5em;
    text-decoration: none;
}

.cabecario__texto {
    color: var(--cinza-logo)
}

.cabecario__menu {
    display: flex;
    justify-content: space-between;
    gap: 2.4em;
}

.botao__entrar,
.menu__link {
    text-decoration: none;
    color: var(--cinza-nav);
    font-weight: 500;
}

.cabecario__botao .botao__entrar {
    margin-right: 1em;
}

.botao__saiar {
    text-decoration: none;
    color: var(--branco);
    background-color: var(--vermelho-botao);
    font-weight: 500;
    padding: .7em 1.2em;
    border-radius: 8px
}