.design {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.design__content {
    width: 60%;
    padding: 1em;
}

.content__titulo {
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: 500;
}

.content__filhos {
    border: 1px solid var(--cor-borda);
    border-radius: 12px;
    padding: 2em 1em;
    margin-bottom: 2em;
    display: grid;
    grid-template-areas:
        "a a a a"
        "b b c c";
    grid-template-columns: 10% 1%;
    grid-template-rows: 3em auto;
}

.texto__titulo {
    grid-area: a;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 2em;
}

.content__texto {
    grid-area: b;
    font-weight: 500;
    color: var(--cinza-nav);
}

.content__texto-salario {
    grid-area: c;
    font-weight: 500;
    color: var(--cinza-nav);
}