.sobreNos {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8em 0em
}

.sobreNos__titulo {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 1em;
}

.sobreNos__texto--destacado {
    color: var(--vermelho-botao);
    font-weight: 600;
    margin-bottom: 2em;
}

.sobreNos__caixa--texto {
    width: 61%;
    line-height: 30px;
}

.sobreNos__texto {
    font-size: 20px;
    color: var(--cinza-nav);
}