.vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em 6em
}

.vagas .vagas__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin-bottom: 4em
}

.vagas__texto--efeito {
    font-size: 14px;
    font-weight: 500;
    padding: .8em .5em;
    background: var(--texto-efeito);
    border-radius: 1em;
    color: var(--vermelho-botao);
}

.vagas__titulo {
    font-size: 36px;
    font-weight: 600;
}

.vagas__texto {
    font-size: 20px;
    color: var(--cinza-nav);
}

.vagas__imagem {
    width: 100%;
}